### Import

In [1]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# data visualization
import seaborn as sns

# machine learning algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# evaluation 
from sklearn.model_selection import StratifiedKFold
from sklearn.base import clone
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_predict
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
import warnings
from sklearn.ensemble import RandomForestClassifier

In [2]:
warnings.filterwarnings("ignore")

### Import data

In [3]:
#load csv file
titanic = pd.read_csv("data/train.csv")
train_data = pd.read_csv("data/train.csv")
test_data = pd.read_csv("data/test.csv")
data=pd.read_csv('data/train.csv')

#read dataframe
titanic.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
707,708,1,1,"Calderhead, Mr. Edward Pennington",male,42.0,0,0,PC 17476,26.2875,E24,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.0,1,0,A/5. 3336,16.1000,NaN,S
823,824,1,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S
427,428,1,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S

### EDA

In [4]:
#train data checked
train_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#information about the training
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
#dataframe of all numerical features
numeric_data = train_data[numeric_features]

NameError: name 'numeric_features' is not defined

In [6]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
round((train_data.isnull().sum() / len(train_data)) * 100, 2)

In [7]:
# Select numerical columns
num_cols = [cname for cname in train_data.columns 
            if train_data[cname].dtype in ['int64', 'float64']]
num_cols.remove('Pclass')

cat_cols = list(set(train_data.columns) - set(num_cols) - {'Ticket', 'Name', 'Cabin'})
num_cols.remove('Survived')

print("Numerical Columns:", num_cols, '', sep='\n')
print("Categorical Columns:", cat_cols, '', sep='\n')

Numerical Columns:
['PassengerId', 'Age', 'SibSp', 'Parch', 'Fare']

Categorical Columns:
['Sex', 'Pclass', 'Embarked']

In [8]:
numeric_data.describe().T

NameError: name 'numeric_data' is not defined

In [ ]:
corr_matrix = train_data.corr()

In [ ]:
corr_matrix["Survived"].sort_values(ascending=False)

#### Analysis of categorical columns

In [ ]:
train_data['Survived'].value_counts()

In [ ]:
train_data['Survived'].value_counts().plot(kind='bar')

In [ ]:
data.groupby(['Sex','Survived'])['Survived'].count()

In [ ]:
train_data[['Sex','Survived']].groupby(['Sex']).mean().plot.bar()
sns.countplot('Sex',hue='Survived',data=train_data,)
plt.show()

In [ ]:
pd.crosstab([data.Sex,data.Survived],data.Pclass,margins=True)

In [ ]:
sns.countplot('Pclass', hue='Survived', data=train_data)
plt.title('Pclass: Sruvived vs Dead')
plt.show()

In [ ]:
train_data['Embarked'].value_counts().plot(kind='bar')

In [ ]:
train_data[['Age', 'Fare']].hist(bins=50, figsize=(12,5))

## Feature Engineering

### misspelled Initials

In [ ]:
data['Initial']=0
for i in data:
    data['Initial']=data.Name.str.extract('([A-Za-z]+)\.')

In [ ]:
data['Initial'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Mr','Mr','Mr'],inplace=True)

### null Embarked

In [ ]:
data['Embarked'].fillna('S',inplace=True)

In [ ]:
data.Embarked.isnull().any()

### Convert categorical columns

In [ ]:
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X], index = X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

In [ ]:
class AddColumns(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self  
    def transform(self, X):
        # print(X.shape)
        AgeBucket = X[:, Age_index] // 15 * 15
        FamilySize = X[:, SibSp_index] + X[:, Parch_index]
        FarePerPerson = X[:, Fare_index] / (FamilySize + 1)
        
        return np.c_[AgeBucket, FamilySize, FarePerPerson]

In [ ]:
# num_cols = ['Age', 'SibSp', 'Parch', 'Fare']
Age_index, SibSp_index, Parch_index, Fare_index = 0, 1, 2, 3

In [ ]:
num_pipeline = Pipeline([('num_imputer', SimpleImputer(strategy="median")),
                         ('add_cols', AddColumns()),
                         ('std_scaler', StandardScaler())])

cat_pipeline = Pipeline([('cat_imputer', MostFrequentImputer()),
                         ('one_hot', OneHotEncoder())])

In [ ]:
preprocessor_pipeline = ColumnTransformer([("num_transformer", num_pipeline, num_cols),
                                         ("cat_transformer", cat_pipeline, cat_cols)])

## Model Train

In [ ]:
X_train = preprocessor_pipeline.fit_transform(train_data)
y_train = train_data["Survived"]

#### SVM

In [ ]:
svm_clf = SVC(gamma="scale")
full_pipeline =  Pipeline([('preprocessor', preprocessor_pipeline),('model', svm_clf)])

In [ ]:
svm_scores = cross_val_score(full_pipeline, train_data, y_train, cv=10)
print('SVC score:', svm_scores.mean())

#### RandomForest

In [ ]:
gaussian = GaussianNB() 
gaussian.fit(X_train, Y_train)

In [ ]:
forest_clf = RandomForestClassifier(n_estimators=100, random_state=42)

In [ ]:
full_pipeline = Pipeline([('preprocessor', preprocessor_pipeline),
                           ('model', forest_clf)])

In [ ]:
forest_scores = cross_val_score(full_pipeline, train_data, y_train, cv=10)
print('RandomForest score:', forest_scores.mean())

#### Logistic Regression

In [ ]:
logistic_regression = LogisticRegression(solver='lbfgs', max_iter=1000)

In [ ]:
logistic_regression.fit(X_train, y_train)

In [ ]:
Y_pred = logistic_regression.predict(X_test)

accuracy_logistic_regression = round(logistic_regression.score(X_train, Y_train) * 100, 2)